<h3 class="title mb-2 mt-2">Customer Table</h3>
<hr/>

<details>
  <summary>Click to show filters</summary>
<div class="row mb-2">
    <div class="form-group col-6">
      <label for="fname">First Name</label>
      <input type="text" placeholder="Enter FirstName" [(ngModel)]="customerFilter.firstName" class="form-control" id="fname" required>
    </div>
    <div class="form-group col-6">
      <label for="lname">Last Name</label>
      <input type="text" placeholder="Enter LastName" [(ngModel)]="customerFilter.lastName" class="form-control" id="lname" required>
    </div>
  </div>
  <div class="row mb-2">
    <div class="form-group col-6">
      <label for="address">Address</label>
      <input type="text" placeholder="Enter address details" [(ngModel)]="customerFilter.address" class="form-control" id="address" >
    </div>
    <div class="form-group col-6">
      <label for="cnumber">Contact Number</label>
      <input type="text" placeholder="Enter contact number" [(ngModel)]="customerFilter.contactNumber" (keypress)="keyPress($event)" minlength=10 maxlength=13 class="form-control" id="cnumber">
    </div>
  </div>
  <div class="row mb-2">
    <div class="row">
      <div class="col text-center">
        <button type="submit" class="btn btn-sm btn-primary"(click)="search()" >Search</button>
      </div>
    </div>
  </div>
</details>

<details>
  <summary>Click to show json result</summary>
  <div class="box box-default">
    <code>
        <pre>{{searchList |json}}</pre>
    </code>
  </div>
</details>

<table class="table table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>Contact Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="customers.length == 0">
    <tr>
      <td colspan="5" style="text-align: center;">No data found</td>
    </tr>
  </tbody>
  <tbody *ngIf="customers.length > 0">
    <tr *ngFor="let customer of customers | paginate : {
            itemsPerPage: 10,
            currentPage: pageIndex,
            totalItems: totalCount
          };">
      <td>{{customer.firstName}}</td>
      <td>{{customer.lastName}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.contactNumber}}</td>
      <td>
        <div class="row">
          <div class="col-6">
            <button type="submit" class="btn btn-sm btn-primary" (click)="onClickEdit(customer)">Edit</button>
          </div>
          <div class="col-6">
            <button type="submit" class="btn btn-sm btn-danger" (click)="deleteCustomer(customer)">Delete</button>
          </div>
        </div>
    </td>
    </tr>
  </tbody>

</table>
<div class="row float-end">
  <pagination-controls
  class="col-12"
    previousLabel="&#60;-"
    nextLabel="->"
    [responsive]="true"
    (pageChange)="handlePageChange($event)"
  ></pagination-controls>
</div>

<hr class="mb-2"/>
